<html>
  <title>Test eRuby</title>
  <body>
    <h1>eRuby</h1>
    <div class="chat-box">
      <div class="chat-face">
        <img src="http://blog-imgs-58.fc2.com/t/o/t/totalmatomedia/2013072601.png" alt="自分のチャット画像です。" width="90" height="90">
      </div>
      <div class="chat-area">
        <div class="chat-hukidashi">
          ふきだしなのですーふきだしですーふきだー
        </div>
      </div>
    </div>

    <div class="chat-box">
      <div class="chat-face">
        <img src="http://henjinkutsu.com/wp-content/uploads/2013/03/20061024_036.jpg" alt="誰かのチャット画像です。" width="90" height="90">
      </div>
      <div class="chat-area">
        <div class="chat-hukidashi someone">
          ふきだしだよ<br>
          へへへ<br>
          ねこだよ
        </div>
      </div>
    </div>
  </body>
</html>
